language: cpp
compiler: gcc
dist: trusty

addons: 
  apt: 
    packages: libboost-all-dev

before_install:
  # C++14
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++14
  - sudo apt-get install -qq g++-6
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  # Qt5
  - sudo apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev libqt5svg5*
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  # Qt5 SVG
  - sudo apt-get install libqt5svg5-dev
  # SFML
  - sudo apt-get install libsfml-dev
  # XRandR, else you get 'Failed to use the XRandR extension while trying to get the desktop video modes'
  - sudo apt-get install libxrandr-dev
  # clang-tidy
  - sudo apt-get install -qq clang-3.8
  # cppcheck
  - sudo apt-get install -qq cppcheck
  # Codecov
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-6 90
  - sudo pip install codecov
  # OCLint
  - ./install_oclint
  # For the virtual X server
  - sudo apt-get install libxrandr-dev
  # valgrind, for helgrind and memcheck
  - sudo apt-get install -qq valgrind
  # SLOCcount
  - sudo apt-get install sloccount

# Start virtual X server, from https://docs.travis-ci.com/user/gui-and-headless-browsers/
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script: 
  # Build the project, then:
  # 1) Show the version of SFML, then quit
  # 2) Run the game for a short time, then quit
  # 3) Test the secret command, then quit
  - qmake -qt=qt5 djog_unos_2018.pro
  - make --silent debug
  - ./djog_unos_2018 --version
  - ./djog_unos_2018 --short --music
  - ./djog_unos_2018 --short --version --spin
  # cppcheck
  - cppcheck --error-exitcode=1 . 
  # Get code coverage
  - ./get_code_cov
  - codecov
  # Call OCLint
  - ./do_oclint
  # SLOCcount
  #   remove OCLint otherwise it will be counted as well
  - rm -rf oclint-0.10.3 oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz oclint.log
  - cd ..; sloccount --overhead 1 --personcost 22614 djog_unos_2018; cd djog_unos_2018
  # clang-tidy
  #- ./do_clang-tidy

after_success:
  # Codecov
  - bash <(curl -s https://codecov.io/bash)
